.DS_Store
node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
log/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package.json
package-lock.json

config/nginx.conf

/devops/tmp/*
!/devops/compose/.env
!/devops/tmp/.keep

*.orig
